
body {
    background: $white;
    font-family: $default-font;
}

p {
    margin: 0;
}

.btn {
    border-radius: 50px;
    border: 2px solid $white;
    background-color: #FDBF3D;
    background-image: linear-gradient(180deg, #FDBF3D 0%, #F68437 100%);
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 22px;
    color: $white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-image .5s;

    &:hover {
        background-image: none;
        color: $white;
    }

    &.-small {
        padding: 3px 12px;
        letter-spacing: -0.05em;
    }

    &.-red {
        background: linear-gradient(180deg, #FB2930 0%, #B0060F 100%);
    }

    svg {
        margin-right: 7px;
    }
}
