
body {
    background: $white;
    font-family: $default-font;
}

p {
    margin: 0;
}

.color-white { color: $white; }
.color-lightest-gray { color: $lightest-gray; }
.color-light-gray { color: $light-gray; }
.color-gray { color: $gray; }
.color-dark-gray { color: $dark-gray; }
.color-black { color: $black; }
.color-orange { color: $orange; }
.color-light-red { color: $light-red; }
.color-red { color: $red; }
