.main-header {

    .top-info {
        background: $black;
        color: $white;
        height: 37px;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-default {
        background: $white;
    }

}