.table {
    border: none;
    border-collapse: unset;
    border-top: 10px solid;
    border-image:  repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1px,
      #EEEEEE,
      #EEEEEE 8px,
    ) 20;

    th, td {
        padding: 8px;
    }

    thead {
        th {
            font-size: 13px;
            color: $gray;
            font-weight: bold;
            border: none;
            padding-top: 15px;
        }
    }

    tbody {
        tr:first-child {
            td {
                border-top-width: 2px;
            }
        }
    }
}