
$white: #FFFFFF;
$lightest-gray: #F4F4F4;
$light-gray: #EEEFEF;
$gray: #666666;
$dark-gray: #505050;
$black: #000000;
$orange: #FDA157;
$light-red: #FB484C;
$red: #C7171D;

$radius: 3px;

$default-font: 'Ubuntu', sans-serif;
